
*.exe
*.dll
*.pdb
*.cache
*.targets
*.v2
*.json
MestreDosCodigos/NivelEscudeiro/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MestreDosCodigos/NivelEscudeiro/obj/Debug/netcoreapp3.1/NivelEscudeiro.AssemblyInfo.cs
MestreDosCodigos/NivelEscudeiro/obj/Debug/netcoreapp3.1/NivelEscudeiro.csproj.FileListAbsolute.txt
MestreDosCodigos/NivelEscudeiro/obj/NivelEscudeiro.csproj.nuget.g.props
MestreDosCodigos/.vs/MestreDosCodigos/v16/.suo
MestreDosCodigos/TestesMsTest/obj/TestesMsTest.csproj.nuget.g.props
MestreDosCodigos/TestesXunit/obj/TestesXunit.csproj.nuget.g.props
